.order_wrapper {
    position: relative;
    background-color:rgba(94, 20, 179, 0.85);
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.order_title {
    color: white;
    font-weight: 600;
    padding: 7px 5px;
}
 
.close_wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.order_content {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
}

.order_img {
    width: 100px;
    border-radius: 50%;
}

.content_price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
}

.remove_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: red;
    background: transparent;
    box-shadow: 0 0 5px #FFf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove_btn:hover {
    box-shadow: 0 0 10px white;
}

.content_count {
  display: flex;
  flex-direction: column    ;
  align-items: center;
}


.content_count i{
    cursor: pointer;
}

.content_count ::selection{
    background: transparent;
}



.order_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.price_title {
    font-size: 22px;
    padding: 10px 0px;
}

.content_name {
    font-size: 26px;
}

.card_open {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: blur;
    backdrop-filter: blur(5px);

}