.product_banner {
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 173, 140, 0.3);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'REM', sans-serif;
    height: 100%;
    width: 100%;
}

.product_img img {
   max-width: 100%;
}

.product_img ul {
    bottom: 0;   
}


.slick-dots li {
    cursor: pointer;
}

.product_img ul li button:before {
    color: #fff;
    opacity: 5;
}

.product_img.slick-dots li.slick-active button:before {
    color: #fff;
}

.product_value {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product_price {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: cornflowerblue;
    font-weight: 700;
}

.product_button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    background-color: rgba(94, 20, 179, 0.85);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.product_button i {
    font-size: 18px;
}

.product_text {
    font-size: 18px;
    font-weight: 300;
    padding: 8px 5px 5px 12px;
    color: #cecece;
}

.product_title {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.product_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product_description {
    flex-grow: 1;
}